# Environment settings
.direnv/
.envrc

# IDE settings
.idea/
.vscode/

# Caches
**/__pycache__/
.mypy_cache/

# Credentials
*.key

# Builds
dist/
src/indicator_management.egg-info/

# Testing
.coverage
htmlcov/

# Personal Python practice purpose
bruh.py

# Private strategies
examples/private/

# Log files
*.log*
